:root {
    --dark-navy: hsl(250, 68%, 27%);
    --blue: hsl(223, 100%, 57%);
    --blue-shadow: 0 -2px 0 3px #140e66 inset, 0 1px 0 6px #3c74ff inset;
    --white: #fff;
    --pink-gragient: linear-gradient(#fe71fe, #7199ff);
    --blue-gradient: linear-gradient(#344aba, #00147983);
    --blue-gradient-shadow: 0 -8px 0 4px #140e66 inset,
        0 6px 0 8px #2463ff inset;
}

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html,
body {
    max-width: 100vw;
    min-height: 100vh;
}

body {
    font-family: var(--font-mouse-memoirs);
    background-image: url(../images/background-mobile.svg);
    background-size: cover;
    min-height: 100vh;
}

.screen {
    width: 100%;
    min-height: inherit;
    background: linear-gradient(#1a043a75, #15127875 70%, #2b167775 100%);
    padding-bottom: 20px;
}

header,
main {
    width: 90%;
    max-width: 76rem;
    margin: 0 auto;
}

button {
    font-family: var(--font-mouse-memoirs);
}

button:hover {
    cursor: pointer;
}

.game-header h2 {
    font-size: 2.5rem;
    color: var(--white);
}

.small-pink-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: none;
    background: var(--pink-gragient);
    box-shadow: 0 -5px 0 -1px #9d2df525 inset;
}

.small-pink-btn:hover {
    opacity: 0.9;
}

.gradient-text {
    background: linear-gradient(#67b6ff, #fff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
}

.gradient-text span {
    width: max-content;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(#67b6ff, #fff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text .first-span {
    z-index: 1;
}

.gradient-text.large .first-span {
    -webkit-text-stroke: 16px #2c3342;
}

.gradient-text.modal .first-span {
    -webkit-text-stroke: 10px #2c3342;
}

.gradient-text .second-span {
    z-index: 2;
}

.gradient-text.large {
    font-size: 3rem;
    translate: 0 -100%;
    right: 0;
}

.gradient-text.modal {
    font-size: 5.875rem;
    line-height: 120%;
    letter-spacing: -0.5%;
    left: 50%;
    top: 0;
    translate: -50% -50%;
    width: max-content;
}

@media (min-width: 32rem) {
    body {
        background-image: url(../images/background-tablet.svg);
    }
    .screen {
        padding-top: 61px;
    }
    .game-header h2 {
        font-size: 3rem;
    }
    .small-pink-btn {
        width: 4rem;
        height: 4rem;
        box-shadow: 0 -6px 0 7px #9d2df525 inset;
    }
    .gradient-text.large {
        font-size: 6.5rem;
        text-align: center;
        right: 50%;
        translate: 50% -100%;
        width: max-content;
    }
    .gradient-text.modal {
        font-size: 8.375rem;
    }
}

@media (min-width: 60rem) {
    body {
        background-image: url(../images/background-desktop.svg);
    }
    .screen {
        padding-top: 7.8vh;
    }
    .game-header h2 {
        font-size: 5.5rem;
    }
    .small-pink-btn {
        width: 5.875rem;
        height: 5.875rem;
    }
    .gradient-text.large {
        font-size: 8.5rem;
    }
}
