.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.starter {
    width: 90%;
    max-width: 37rem;
    position: relative;
    border-radius: 48px;
    box-shadow: var(--blue-gradient-shadow);
    background: var(--blue-gradient);
    padding-top: 138px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    position: absolute;
    top: -50px;
    width: 263px;
    height: auto;
}

.play-btn {
    background: var(--pink-gragient);
    padding: 55px;
    border-radius: 50%;
    box-shadow: 0 -4px 0 5px #243041 inset, 0 -12px 0 11px #9d2df5 inset;
    position: relative;
}

.play-btn:hover {
    background: var(--pink-gragient), linear-gradient(#ffffff25, #ffffff25);
}

.play-btn img {
    width: 53px;
    height: auto;
}

.how-btn {
    margin-top: 58px;
    width: 16.25rem;
    padding: 0.75rem;
    color: var(--white);
    background: var(--blue);
    border-radius: 999px;
    font-size: 2rem;
    box-shadow: 0 -2px 0 3px #140e66 inset, 0 1px 0 6px #3c74ff inset;
}

.how-btn:hover {
    opacity: 0.8;
}

@media (min-width: 32rem) {
    .logo {
        width: 374px;
        height: auto;
        top: -110px;
    }
    .starter {
        border-radius: 72px;
    }
    .play-btn {
        padding: 68px;
    }
    .play-btn img {
        width: 66px;
        height: auto;
    }
}